<%# app/views/messages/show.html.erb %>

<div id="<%= dom_id(message) %>">

  <%= turbo_stream_from dom_id(message) %>
  <div class="card h-100 w-100 shadow-lg">
    <div class="card-header text-center">
      <h3 class>Message Détails</h3>
    </div>
    <div class="card-body d-flex flex-column">
      <% if message%>
        <p class="border p-3 rounded bg-light flex-grow-1"><%= message.answer.html_safe || '⏳ Génération en cours...' %></p>
      <% end %>
    </div>
  </div>

</div>
