<%# app/views/messages/show.html.erb %>

<div class="items-grid">
  <div>
    <%= render 'projects/items' %>
  </div>
  <div>
    <% if @message.present? %>
      <%= render 'message', message: @message %>
    <% end %>
  </div>

</div>
