<div id="<%= dom_id(idea) %>" class="container my-4">
  <%= turbo_stream_from dom_id(idea) %>

  <% if categories&.any? %>
    <div class="row g-3">
    <h1 class="text-center">Cliquer sur une niche pour la séléctionner</h1>
      <% categories.each do |category| %>
        <div class="col-md-12 col-lg-">
          <div class="card shadow-sm border-0 rounded">
            <div class="card-body text-center">
              <%= button_to select_category_project_nich_idea_category_path(project, nich, idea, category),
                class: 'btn btn-outline-dark w-100 fw-bold',
                method: :patch, data: { turbo: false },
                form: { authenticity_token: true } do %>
                <%= category.name || '...' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>
    <h1 class="text-center text-muted mt-5">⏳ Génération en cours...</h1>
  <% end %>
</div>
