.btn-idea {
  background-color: #4083ff;
  color: #ffff;
  text-align: center;
  font-family: Generalsans, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
}

.btn-idea:hover {
  background-color: #0c1f4d;
  color: #ffff;
  text-align: center;
  font-family: Generalsans, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  transition: all 0.3s ease-in-out;
}
