.items-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;

  > * {
    overflow-y: auto;
  }

  > :first-child {
    border-right: 1px solid #f5f8ff;
  }

  > :last-child {
    background-color: #f5f8ff;
    padding: 1em;
  }
}
