<div class="card h-100 w-100 shadow-lg">
  <div class="card-header text-center bg-success text-white">
    <h3>Détails de l'Hypothèse</h3>
  </div>
  <div class="card-body d-flex flex-column">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title text-primary">Question</h4>
        <p class="card-text border p-3 rounded bg-light">
          <%= @hypothesis.question %>
        </p>
        <h4 class="card-title text-success mt-3">Réponse</h4>
        <p class="card-text border p-3 rounded bg-light">
          <%= @hypothesis.answer %>
        </p>
      </div>
    </div>
  </div>
</div>
