<% if result %>
  <div id="<%= dom_id(result) %>">
    <%= turbo_stream_from dom_id(result) %>
      <div class="card-header text-center">
        <h1 class='text-light'>hypothèse de résultat</h1>
      </div>
      <div class="card-body d-flex flex-column">
        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text border p-3 rounded bg-light">
              <% if result %>
                <%= result.answer.html_safe || "⏳ Génération en cours..." %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
  </div>
<% else %>
  <div class="card-header text-center">
      <h1 class='text-light'>hypothèse de résultat</h1>
    </div>
    <div class="card-body d-flex flex-column">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text border p-3 rounded bg-light">
              <%= "⏳ Génération en cours..." %>
          </p>
        </div>
      </div>
    </div>
<% end %>
