<%# app/views/hypothesis_results/show.html.erb %>


  <div class="items-grid">
    <div>
      <%= render 'projects/items' %>
    </div>
    <% if @result %>
      <div id="result_<%= @result.id %>">
        <%= render 'result', result: @result %>
      </div>
    <% end %>
  </div>
</div>
