<%# app/views/scripts/_script.html.erb %>
<div id="<%= dom_id(script) %>">
  <%= turbo_stream_from dom_id(script) %>
  <div class="card h-100 w-100 shadow-lg">
    <div class="card-body d-flex flex-column">
      <% if script %>
        <p class="card-text flex-grow-1"><%= script.question&.presence || "⏳ Génération en cours..." %></p>
      <% end %>

    </div>
  </div>
</div>
