<%# app/views/niches/index.html.erb %>
<div class="list-group" data-controller="niches-list">
  <% if @niches.any? %>
    <div class="list-group">
      <% @niches.each do |nich| %>
        <div class="list-group-item">
          <h4>
            <%= link_to nich.name, project_nich_path(@project, nich),
            class: "#{'active' if nich == selected_nich} list-group-item list-group-item-action",
            data: {
              turbo_frame: :nich_details,
              turbo_action: :advance,
              action: "click->niches-list#highlight",
              niches_list_target: "nich"
              }%>
            </h4>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Aucune niche trouvée pour ce projet.</p>
  <% end %>
</div>
