<%# app/views/projects/index.html.erb %>

<div class="container mt-4">
  <div class="row">
    <%# Première colonne gauche %>
    <div class="col-md-6">
      <div data-controller='toggle'>
        <button class="btn btn-small mb-3" data-action="click->toggle#fire"><strong>+</strong></button>
        <div data-toggle-target='toggableElement' class='d-none'>
          <%= render 'list', project: @project %>
        </div>
      </div>
    </div>

    <%# Seconde colonne à droite %>
    <div class="col-md-6">
      <h1 class="mb-4">Mes projets</h1>

      <div class="row">
        <% @niches.each do |niche| %>
          <div class="col-md-6 my-2">
            <%= link_to niche.project.name, project_path(niche.project), class: 'btn btn-secondary w-100' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
