<%# app/views/projects/index.html.erb %>

<div class="container mt-4">
  <div>
    <h1 class="mb-4 main-title">Mes projets</h1>
  <div class="row">
    <%# Première colonne gauche %>
    <div class="col-md-6">

      <%= render 'list', project: @project %>

    </div>

    <%# Seconde colonne à droite %>
    <div class="col-md-6">

      <div class="row">

        <% @niches.each do |nich| %>
          <h4><%= nich.project.name %></h4>
          <div class="col-md-6 my-2">
            <%= link_to project_path(nich.project), class: 'btn btn-link p-0' do %>
              <%= image_tag('project.png', alt: 'Project Icon', class: 'btn btn-project') %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
</div>
