<%# app/views/projects/show.html.erb %>
<%= turbo_frame_tag "project_#{@project.id}" do %>

  <div class="items-grid">
    <%= render 'items', project: @project%>
    <div class="text-secondary">Select a folder to view details</div>
  </div>

<% end %>
