<%# app/views/offers/show.html.erb %>

<% if browser.device.mobile? %>
  <div class="mt-2 text-center mb-4">
    <%= render 'offer', offer: @offer %>
    <%= link_to 'Retour', project_path, class: 'btn btn-outline-dark mt-5' %> <!-- mt-5 pour plus de top margin -->
  </div>

<% else %>

  <div class="items-grid">
      <div>
        <%= render 'projects/items' %>
      </div>
      <div>
        <%= render 'offer', offer: @offer %>
      </div>
    </div>
  </div>

<% end %>
