
<div class="container-fluid h-100 w-100">
  <div class="row h-100">
    <div class="col-12 d-flex flex-column h-100">
     <% if @avatar %>
      <h1 class="text-center mb-4"><%= @avatar.name %></h1>
    <% end %>
      <div class="card flex-grow-1 w-100 shadow-lg">
        <div class="card-body">
          <h4 class="card-title">Description de l'Avatar</h4>
          <% if @avatar %>
            <p class="card-text"><%= @avatar.description %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
