 <%# app/views/avatars/show.html.erb %>
<% if @avatar %>
  <div class="items-grid">
    <div>
      <%= render 'projects/items' %>
    </div>
    <div>
      <%= render 'avatar', avatar: @avatar %>
    </div>
  </div>
  <% else %>
  <div class="items-grid">
      <div>
        <%= render 'projects/items' %>
      </div>
    </div>
<% end %>
