.navbar-lewagon {
  justify-content: left;
  background: #4083ff;
  align-items: stretch;
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  background-color: #f5f8ff;
  color: #081131;
  border-radius: 6.25rem;
  height: auto;
  padding-top: .15rem;
  padding-bottom: .15rem;
}
